<!--<h2>This is our home page.</h2>-->
<!--<h2>ホームページです。</h2>-->

<div class="widget widget_social">
			<li class="rss-subscribers">
				<a href="/user_logs" target="_blank">
					<strong>
						<span>News</span><br>
						<small></small>
					</strong>
				</a>
			</li>
			
						<li class="youtube-subs">
				<a href="questions" target="_blank">
					<strong>
						<span>Questions</span><br>
						<small></small>
					</strong>
				</a>
			</li>
			
						<li class="twitter-followers">
				<a href="/answers" target="_blank">
					<strong>
						<span>Answers</span><br>
						<small></small>
					</strong>
				</a>
			</li>
			
			</div>